body {
	background-image: url('../images/repeated-square.png');
}

h3 {
	background-color: #36454f;
	color: whitesmoke;
	padding: 5px;
}

.grid-container {
	display: grid;
}

.flex-container {
	display: flex;
	justify-content: center;
}

.pet-image-gallery {
	display: flex;
	justify-content: space-between;
}

.main-content {
	max-width: 80%;
	padding-top: 80px;
	margin: auto;
}

/* My NavBar Setup */
.my-navbar {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
}

.my-navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.my-navbar li {
	float: left;
}

.my-navbar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.my-navbar li a:hover {
	background-color: #111;
}

.active {
	background-color: purple;
}
/* END NAV BAR */

/*
.animal-images {
    --border-radius: 5%;
}
*/

#main-dog-image {
	border-radius: 50%;
	box-shadow: -10px 5px 5px black;
}

#main-cat-image {
	border-radius: 50%;
	box-shadow: 10px 5px 5px black;
}

.pet-selection-form {
	margin: 10px;
	padding: 10px;
}

.pet-selection-submit-btn {
	text-align: center;
}
select {
	width: 100px;
	margin: 5px;
	text-align: center;
}

.my-pet-preference {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	font-style: oblique;
	font-size: 2em;
}

.dog-names {
	flex-direction: column;
	align-items: center;
	margin: 20px;
}

.my-dog-names {
	list-style: none;
}

.my-dog-names li::before {
	content: '\1F436';
	list-style-position: outside;
}
